<h1>Search Results</h1>

Coatrooms nearby: <%= @search_term %>
<%= Geocoder.coordinates(@search_term) %>
<table>
<% @search_results.each do |checker| %>
<tr>
  <td><%= checker.first_name %> <%= checker.last_name %></td>
  <td>is ready to check your items at <%= checker.street_address %> <%= checker.apt_number %> <%= checker.city %> <%= checker.state %>.</td>
  <td>which is <%= Geocoder::Calculations.distance_between([checker.latitude, checker.longitude], @user_location).round(1) %> miles away.</td>
  <td><a href="/dropoff/<%= checker.id %>">Schedule dropoff with <%= checker.first_name %></a>
</tr>
<% end %>
</table>




