<h1>Search Results</h1>

Active Coatrooms with in 1 mile of <%= @search_term %>
<ul>
<% @search_results.each do |checker| %>
<li><%= checker.first_name%> <%= checker.last_name %>
    is ready to check your items at <%= checker.address %>  which is <%= Geocoder::Calculations.distance_between(Geocoder.coordinates(checker.address), @user_location).round(1) %> miles away.
  <% if current_user %>
      <%= link_to "Schedule dropoff with #{checker.first_name}.", {:controller => "hold_records", :action => "new", :checker => checker.id } %>
  <% else %>
      <%= link_to "Please log in before scheduling a drop off.", log_in_path %>
  <% end %>
</li>
<% end %>
</ul>




