<div class="container">
  <div class= "sixteen columns">
    <h1>Coatroom</h1>
  </div>

  <div>
    <h3>Coatcheck has been scheduled!</h3>

    You will be dropping your items off with <%= @checker.first_name %> <%= @checker.last_name %> at <%= @checker.street_address %> at <%= @hold_record.dropoff_time %> on <%= @hold_record.dropoff_day %> and picking your items up on <%= @hold_record.pickup_time %> and <%= @hold_record.pickup_day %>
   <%= link_to "Return to Search", root_path %>
  </div>
</div>
