<h1>Coatcheck has been scheduled!</h1>

You will be dropping your items off with <%= @checker.first_name %> <%= @checker.last_name %> at <%= @checker.street_address %> at <%= @hold_record %>.dropoff_time %> on <%= @hold_record.dropoff_day %> and picking your items up on <%= @hold_record.pickup_time %> and <%= @hold_record.pickup_day %>
